.main-container{
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-signup-buttons{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}