@use '../../../../colors.scss';

.created-rooms{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
.room-box{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 10px 10px 30px;
    margin: 10px;
    width: 200px;
    background-color: colors.$white;
    border-color: colors.$purple-blue;
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
}
.room-box-d{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 10px 10px 30px;
    margin: 10px;
    width: 200px;
    background-color: colors.$white;
    border-color:colors.$dark-red;
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
}
p{
    margin: 0px;
}
.label-p{
    color: colors.$vivid-blue;
    font-style: italic;
}
.bars-wrapper{
    margin:30px;
    padding:10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.bar-box{
    margin:0px;
    padding:5px 10px 20px 10px;
}
.bar-description{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    padding:5px;
    color: colors.$vivid-blue;
    font-style: italic;
}
.bar{
    display:flex;
    flex-direction: row;
    gap:5px;
}
.empty-stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

@media screen and (max-width: 800px) {
    .created-rooms{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 530px) {
    .created-rooms{
        grid-template-columns: 1fr;
    }
}