@use '../../../../colors.scss';

mat-dialog-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
p{
    color: colors.$dark-red;
}
h2{
    display:flex;
    justify-content: center;
}