<div class="window-container">
  @if(selectedRoom$ | async; as currentRoom){
    @if(currentRoom.restrictions !== "private-chat"){
      <button matButton="outlined" [disabled]="true" class="owner-name">Owner: {{ (owner$ | async)?.username}}</button>
      <button matButton="tonal" matTooltip="Click to change chat name" (click)="changeChatName()">{{getRoomName()}}</button>
    }
    <div [ngClass]="currentRoom.restrictions === 'private-chat' ? 'room-name-container-private' : 'room-name-container' ">
      <div class="chat-room-name-add-buttons">
        @if(currentRoom.restrictions === "private-chat"){
        <button id="room-name" matButton="tonal" matTooltip="Click to change chat name" (click)="changeChatName()">{{getRoomName()}}</button>
        }
        @if(currentRoom.restrictions === 'private-group' && currentRoom.ownerId === currentUserId){
          <button matIconButton [matMenuTriggerFor]="addMenu" matTooltip="Add users to group"><mat-icon id="add-user" >person_add</mat-icon></button>
          <mat-menu #addMenu="matMenu">
          @for(user of allUsers$ | async; track user.id){
            <button mat-menu-item matTooltip="Add user" (click)="addUserToPrivateGroup(user.id)"><mat-icon id="add-user">person_add</mat-icon>{{user.username}}</button>
          } 
          </mat-menu>
          <button matIconButton [matMenuTriggerFor]="removeMenu" matTooltip="Remove users group"><mat-icon id="remove-member">person_remove</mat-icon></button>
          <mat-menu #removeMenu="matMenu">
            @for (user of memberUsers$ | async; track user.id) {
              <button mat-menu-item matTooltip="Remove user" (click)="removeUserFromPrivateGroup(user.id)"><mat-icon id="remove-member">person_remove</mat-icon>{{user.username}}</button>
            }
          </mat-menu>
        }  
          <button matIconButton [matMenuTriggerFor]="membersMenu" matTooltip="Show other users in group"><mat-icon id="chat-members">group</mat-icon></button>
          <mat-menu #membersMenu="matMenu">
            @for (user of memberUsers$ | async; track user.id) {
              <button mat-menu-item><mat-icon id="chat-members">person</mat-icon>{{user.username}}</button>
            }
          </mat-menu>
      </div>
      <div class="chat-room-buttons">
        <button id="close-chat" matIconButton matTooltip="Close chat" (click)="handleCloseChat()"><mat-icon>keyboard_return</mat-icon></button>
        <button id="delete-chat" matIconButton matTooltip="Delete chat" (click)="deleteChat()"><mat-icon>delete</mat-icon></button>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div #scrollContainer class="messages-container">
      @for (msg of messages$ | async; track msg.id) {
        <div [ngClass]="msg.senderId === currentUserId ? 'current-user-message' : 'partner-message'">
          <div class="message-contents">
            <p class="sender-name">from: {{msg.senderName}}</p>
            <p class="message-bubble">{{msg.content}}</p>
          </div>
        </div>
      }
    </div>
    <mat-divider></mat-divider>
    <div class="input-field-container">
        <input (keyup)="sendWithEnter($event)" [(ngModel)]="newMessage" type="text" placeholder="Write a message..." class="message-input">
        <button matIconButton (click)="sendMessage()" class="send-button"><mat-icon>send</mat-icon></button>
    </div>
  }
</div>