<div class="window-container">
  @if(currentRoom){
    @if(currentRoom.restrictions !== "private-chat"){
      <button matButton="outlined" [disabled]="true" class="owner-name">{{ownerUsername}}'s Room</button>
    }
    <div class="room-name-container">
      <div class="chat-room-name-add-buttons">
        <button matButton="tonal" matTooltip="Click to change chat name" (click)="changeChatName()">{{getRoomName()}}</button>
        @if(currentRoom.restrictions === 'private-group' && currentRoom.ownerId === currentUserId){
          <button matIconButton [matMenuTriggerFor]="addMenu" matTooltip="Add users to group"><mat-icon style="color:green;">person_add</mat-icon></button>
          <mat-menu #addMenu="matMenu">
            @for (user of allUsers; track user) {
              <button mat-menu-item matTooltip="Add user" (click)="addUserToPrivateGroup(user.id, user)"><mat-icon style="color:green;">person_add</mat-icon>{{user.username}}</button>
            }
          </mat-menu>
          <button matIconButton [matMenuTriggerFor]="removeMenu" matTooltip="Remove users group"><mat-icon style="color:red;">person_remove</mat-icon></button>
          <mat-menu #removeMenu="matMenu">
            @for (user of memberUsers; track user) {
              <button mat-menu-item matTooltip="Remove user" (click)="removeUserFromPrivateGroup(user.id)"><mat-icon style="color:red;">person_remove</mat-icon>{{user.username}}</button>
            }
          </mat-menu>
        }  
          <button matIconButton [matMenuTriggerFor]="membersMenu" matTooltip="Show other users in group"><mat-icon style="color:#00458f;">group</mat-icon></button>
          <mat-menu #membersMenu="matMenu">
            @for (user of memberUsers; track user) {
              <button mat-menu-item><mat-icon style="color:#00458f;">person</mat-icon>{{user.username}}</button>
            }
          </mat-menu>
      </div>
      <div class="chat-room-buttons">
        <button matIconButton matTooltip="Close chat" (click)="handleCloseChat()" style="margin:10px;"><mat-icon>keyboard_return</mat-icon></button>

        <button matIconButton matTooltip="Delete chat" (click)="deleteChat()" style="color:red;"><mat-icon>delete</mat-icon></button>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div #scrollContainer class="messages-container">
      @for (msg of messages$ | async; track msg) {
        <div [ngClass]="msg.senderId === currentUserId ? 'current-user-message' : 'partner-message'">
          <div class="message-contents">
            <p class="sender-name">from: {{msg.senderName}}</p>
            <p class="message-bubble">{{msg.content}}</p>
          </div>
        </div>
      }
    </div>
    <mat-divider></mat-divider>
    <div class="input-field-container">
        <input [(ngModel)]="newMessage" type="text" placeholder="Write a message..." class="message-input">
        <button matIconButton (click)="sendMessage()" class="send-button"><mat-icon>send</mat-icon></button>
    </div>
  }
</div>