.message-box-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 20px;
}
.message-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 300px;
    margin: 5px 20px 5px 20px;
    padding: 10px;
    border-radius: 25px 25px 25px 0px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    background-color: #d7e3ff;
}
.message-p{
    margin:0px 0px 10px 0px;
    max-width:250px;
    word-wrap: break-word;
}
.message-sp{
    color:#00458f;
    font-style: italic;
}

@media screen and (max-width:1024px){
    .message-box-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width:767px){
    .message-box-wrapper{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width:375px){
    .message-box{
        width:250px;
    }
}