@use '../../../colors.scss';

.main-container{
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-container{
    display: flex;
    flex-direction:column;
    align-items:center;
    max-width:400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.input-fields{
    display: flex;
    flex-direction: column;
}
.form-buttons{
    display:flex;
    flex-direction: row;
    gap: 8px;
}
.error-message{
    color: colors.$dark-red;
}
.error-messages{
    display:flex;
    justify-content: center;
}