.main-container{
    display:flex;
    flex-direction:column;
    height: 100%;
}
.navbar-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:10px;
    gap: 20px;
}
mat-drawer-container{
    height:100%;
}
mat-drawer{
    padding:15px;
    background-color: #d7e3ff;
}
mat-drawer-content{
    background-color: #f2f0f4;
    padding:15px;
}
.online-user-button{
    color: green !important;
}
.offline-user-button{
    color: red !important;
}
.sidenav{
    max-width:330px;
}