$owner-related-button-color: #faf9fd;

.main-container{
    display:flex;
    flex-direction:column;
    height: 100%;
}
.navbar-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:10px;
    gap: 20px;
}
.lang-logout-container{
    display:flex;
    flex-direction: row;
}
mat-drawer-container{
    height:100%;
}
mat-drawer{
    padding:15px;
    background-color: #d7e3ff;
}
.sidenav-header{
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap:20px;
}
mat-drawer-content{
    background-color: #f2f0f4;
    padding:15px;
}
.online-user-button{
    color: green !important;
}
.offline-user-button{
    color: red !important;
}
.no-chat-opened-container{
    height: 80%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.no-chat-opened-container > h2{
    text-align: center;
}
.no-chat-opened-container > button{
    background-color:$owner-related-button-color;
}
.create-group-button-container{
    display:flex;
    justify-content: center;
    margin-top:20px;

}
.create-group-button{
    background-color: $owner-related-button-color;
}
.owned-group{
    background-color: $owner-related-button-color;
}
.sidenav > button{
    margin:10px;
}
#bar-chart{
    color: #005cbb;
}