.page {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px 10px 10px 10px;
    margin: 0px;
}
.header-buttons{
    display:flex;
    flex-direction: row;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.message-box-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #d7e3ff;
    padding:5px;
}
#header-text{
    padding: 10px 0px 0px 0px;
    margin: 0px;
    font-size: 20px;
}
.top-wrapper{
    position:fixed;
    width: 100%;
}
.loaded-stat{
    margin-top:120px;
}